<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/products.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping mall</title>
</head>
<body>
    <div class="navi">
        <a href="/home" id="logo">
            <img src="https://i.postimg.cc/C5FbwsQr/logo.png" height="20">
        </a>
        <ul id="menu">
            <li><a href="#">Contact</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">Cart</a></li>
            <li><a href="#">Login</a></li>
        </ul>
    </div>
    <div class="header"></div>
    <div class="text">
        <h1>Our New Products</h1>
        <div class="product-list">
            <!--페이지에 따라, 나와야 되는 아이템 구현 -->
            <a th:each="item : ${page.content}" th:href="@{|/products/detail?id=${item.id}&page=${page.number}|}" class="product">
                <!--아직 파일업로드 방식을 제대로 배우지 않아, 임시방편으로 이미지파일을 상대경로로 갖다 씀 -->
                <img th:src="@{${item.filePath}}" width="225">
                <div th:text="${item.name}" class="product-name">Sunglasses</div>
                <div th:text="|${item.price}$|" class="product-price">49,000</div>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>

    <!--페이지번호 미구현. //페이지번호 thymeleaf 제대로 배우면 설정하기.-->
    <div class="footer">
        <a href="#">
            ←
        </a>
        <a href="/products?page=0">
            1
        </a>
        <a href="/products?page=1">
            2
        </a>
        <a href="/products?page=2">
            3
        </a>
        <a href="/products?page=3">
            4
        </a>
        <a href="#">
            →
        </a>
    </div>
    <!--페이지번호 미구현. thymeleaf 배우면 설정하기-->

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</body>
</html>

<!-- Copyright (c) 2021 by 이다은 (https://codepen.io/leedaeun/pen/bGqNYyR) -->